<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Node 1</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">NIM</th>
            <th scope="col">Nama Lengkap</th>
            <th scope="col">Kelas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for (let user of users) { %>
            <th><%= user.id %></th>
            <th><%= user.NIM %></th>
            <th><%= user.Nama_Lengkap %></th>
            <th><%= user.Kelas %></th>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/tambah" method="post">
        <h3>Tambah Mahasiswa</h3>
        <div class="mb-3">
          <label for="NIM" class="form-label">NIM</label>
          <input type="text" class="form-control" name="NIM" />
        </div>
        <div class="mb-3">
          <label for="Nama_Lengkap" class="form-label">Nama_Lengkap</label>
          <input type="text" class="form-control" name="Nama_Lengkap" />
        </div>
        <div class="mb-3">
          <label for="Kelas" class="form-label">Kelas</label>
          <input type="text" class="form-control" name="Kelas" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
